.small-12.columns.text-center
  %h1 Credits

  .credits
    %p
      Icon made by
      = link_to 'Freepik', 'http://www.freepik.com', alt: 'Freepik.com',
          title: 'Freepik.com', target: '_blank'
      from
      = link_to 'www.flaticon.com',
          'http://www.flaticon.com/free-icon/no-water-symbol-od-a-drop-with-a-slash_45182',
           target: '_blank'

    %p
      Design copied from
      = link_to 'Type & Grids', 'http://www.typeandgrids.com/',  target: '_blank'
