.top-nav {
  text-align: center;
}

.top-nav-bar {
  display: block;
  background-color: #3e424d;
  padding-top: 3em;
  padding-bottom: 3em;
}

.top-nav-bar-header a {
  text-transform: uppercase;
  color: #ebe3e2;
  border: 2px solid #cfc6c5;
  padding: 0.5em;
}

.top-nav-info {
  background-color: #f5f1f0;
  padding: 2em 0;
}
