.top-nav {
  text-align: center;
}

.top-nav-bar {
  display: block;
  background-color: $primary-background-color;
  padding-top: 3em;
  padding-bottom: 3em;
}

.top-nav-bar-header a {
  text-transform: uppercase;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  padding: 0.5em;
  font-weight: bold;
  font-size: 0.8em;
}

.top-nav-bar-header a:hover {
  text-decoration: none;
}

.top-nav-info {
  background-color: #f5f1f0;
  padding: 2em 0;
}
