html {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica', 'sans-serif';
  height: 100%;
}

.columns {
  padding: 0;
}

.row {
  margin: 0 !important;
  max-width: 100% !important;
}

a:hover {
  text-decoration: underline;
}
