.footer
  %ul.no-bullet.footer-list
    %li
      Created by
      = link_to 'Guo Xiang', 'http://guoxiang.me', target: '_blank'
    %li
      = link_to 'Credits', credits_path
    %li
      = link_to 'Add a Restaurant', new_restaurant_path
